[submodule "tests/steps/common_steps"]
	path = tests/steps/common_steps
	url = git@github.com:vrutkovs/common-steps.git
[submodule "tests/features/common-docker"]
	path = tests/features/common-docker
	url = git@github.com:vrutkovs/common-features.git
